    <header>
    <div class="skybar">
        {{#is 'post'}}
        {{#post}}
        <p>
            {{> "icons/map-pin"}}You are here: <a href="/">{{site.url}}Home</a>{{> "icons/chevron"}}{{date format="M/D/YYYY"}}{{> "icons/chevron"}}{{#primary_tag}}<a href="{{url}}">{{name}}</a>{{/primary_tag}}{{> "icons/chevron"}}{{title}}
        </p>
        <ul>
            <li><a href="/memberships/">Subscribe</a></li>
            <li><a href="/#/portal/account">Login</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg></li>
        </ul>
        {{/post}}
        {{else}}
        <ul>
            <li>{{date format="dddd, MMMM D, YYYY"}}</li>
            <li class="the-weather">Currently: <span id="current-temp"></span>,<span id="current-condition"></span></li>
            <li class="draught">{{> "icons/basketball"}}Last Knicks Title: <span id="knicks-counter"></span></li>
            <li class="title-please">{{> "icons/error"}}Days Since Last: 0</li>
            <li><a href="/memberships/">Subscribe</a></li>
            <li><a href="/#/portal/account">Login</a></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg></li>
        </ul>
        {{/is}}
    </div>

    <div class="hat">
      <div class="head-bloc">
        <p class="heading" data-section="Editorial">You Can't Be Serious</p>
        <p>We started this electronic scrapbook to keep us more or less sane and charitable. Equanimity created is closer than equanimity found.</p>
      </div>

      <div class="head-bloc">
        <p class="heading" data-section="Daily">Tuesday Edition</p>
        <p>We made it another day. Fuck yeah! Make the most of it. Hug the people you love. Also: 58 days till opening day.</p>
      </div>

      <div class="head-bloc support">
        <p class="heading" data-section="Support">Memberships</p>
        <p>If you enjoy our work and are so inclined, jump to our membership page to checkout the various options.</p>
      </div>
    </div>
    <div class="masthead">
        <a href="/"><img src="https://picsum.photos/960/340" height="340" width="960" border="0"/></a>
    </div>
</header>